/* svg{
    background-color: rgb(255, 255, 255);
} */

.country {
    
    stroke: rgb(255, 255, 255);
    stroke-width:0.01em;
}

.country:hover {
    fill: rgb(203, 230, 50);
}

.title{
    color : white;
}